
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */


/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Amiri');
@import url('https://fonts.googleapis.com/css2?family=Bitter');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono');

body {
  background-color: #fffaf0;
}


html {
  /*-- Main font sizes --*/
  --title-size:      75px;
  --body-size:       20px;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #403b2f;
  --header-color:    #403b2f;
  --body-color:      #403b2f;
  --aside-color:     #403b2f;
  --fig-cap-color:   #403b2f;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Amiri", serif;
  --mono-font:       "DM Mono", monospace;
  --body-font:       "Amiri", serif;
  --navbar-font:     "Bitter", sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
.d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #fffaf0;
  --body-size:       0.8rem;
  --body-color:      #fffaf0;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
.d-appendix {
  --heading-size:    15px;
  --heading-color:   #fffaf0;
  --text-size:       0.8em;
  --text-color:      #fffaf0;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       25px;
  --text-color:       #fffaf0;
  --text-size:        20px;
  --hover-color:      white;
  --bkgd-color:       #403b2f;
}

.distill-site-footer {
  --text-color:       #fffaf0;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #403b2f;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

.article-banner {
  width: 100%;
  height: 100%;
  border: 0;
}

img[src="assets/banner.png"] {
  border: 0;
  padding: 0;
  width: 100%;
  margin: 0px 0px 0px 0px;
}