
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */


/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
  background-color: #faf9f6 ;
}


html {
  /*-- Main font sizes --*/
  --title-size:       30px;
  --body-size:        16px;
  --code-size:        14px;
  --aside-size:       14px;
  --fig-cap-size:     14px;
  /*-- Main font colors --*/
  --title-color:     #403b2f;
  --header-color:    #403b2f;
  --body-color:      #403b2f;
  --aside-color:     #403b2f;
  --fig-cap-color:   #403b2f;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Montserrat", serif;
  --mono-font:       "Montserrat", monospace;
  --body-font:       "Montserrat", serif;
  --navbar-font:     "Montserrat", sans-serif;  /* websites + blogs only */
}



/*-- HYPERLINK COLOR --*/
a:link {
  color: #509744;
  text-decoration: none;
}
a:visited {
  color: #509744;
  text-decoration: none;
}
a:hover {
  color: #C5663F;
  text-decoration: none;

}



/*-- DESCRIPTION FONTSIZE --*/
d-title p {
    font-size: 16px;
}


/*-- ARTICLE FONTSIZE --*/
d-article h1 {
  font-size: 25px;
}

d-article h2 {
  font-size: 20px;
}

d-article h3 {
  font-size: 16px;
}


/*-- ARTICLE METADATA --*/
.d-byline {
  --heading-size:    16px;
  --heading-color:   #faf9f6;
  --body-size:       14px;
  --body-color:      #faf9f6;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    14px;
  --contents-size:   12px;
}

/*-- ARTICLE APPENDIX --*/
.d-appendix {
  --heading-size:    14px;
  --heading-color:   #faf9f6;
  --text-size:       12px;
  --text-color:      #faf9f6;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       25px;
  --text-color:       #509744;
  --text-size:        20px;
  --hover-color:      #C5663F;
  --bkgd-color:       #faf9f6;
}

.distill-site-footer {
  --text-color:       #403b2f;
  --text-size:        15px;
  --hover-color:      #C5663F;
  --bkgd-color:       #faf9f6;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */